:root{


--bg-primary:#f5f7fb;

--bg-secondary:#ffffff;

--card-bg:#ffffff;

--text-primary:#1e293b;

--text-secondary:#64748b;

--border-color:#e2e8f0;

--sidebar-bg:#ffffff;

--sidebar-text:#334155;

--sidebar-shadow:
5px 0 20px rgba(0,0,0,.15);

--primary-color:#2563eb;

--shadow:
0 10px 30px rgba(0,0,0,.08);


}



[data-theme="dark"]{


--bg-primary:#0f172a;

--bg-secondary:#111827;

--card-bg:#1e293b;


--text-primary:#f8fafc;

--text-secondary:#94a3b8;


--border-color:#334155;

--sidebar-shadow:
5px 0 20px rgba(0,0,0,.45);


--sidebar-bg:#020617;

--sidebar-text:#cbd5e1;


--primary-color:#60a5fa;


--shadow:
0 10px 30px rgba(0,0,0,.35);


}